//Variables graisse typo
$light: 300;
$normal: 400;
$bold: 700;

//Variables couleurs alertes 
$backsuccess: #C8F7C5;
$colorsuccess: #26A65B;
$backwarwing: #FF6656;
$colorwarning: #D91E18;

%alert{
	display: block;
	box-sizing:border-box;
	padding: 0.5em;
	width: 100%;
	margin: 0.5em 0;
}

.success{
	@extend %alert;
	background-color: $backsuccess;
	color: $colorsuccess;
	&:before{
		content:"✓ Success ! ";
		font-weight: $bold;
	}
}

.warning{
	@extend %alert;
	background-color: $backwarwing;
	color: $colorwarning;
	&:before{
		content:"Warning ! ";
		font-weight: $bold;
	}
}

.beware{
	@extend %alert;
	background-color: #FDE3A7;
	color: #F89406;
	&:before{
		content:"Beware ! ";
		font-weight: $bold;
	}
}