//Variables taille typo
$typoratio: 1.414;
$typobody: 1em;
$typoh4: $typobody*$typoratio;
$typoh3: $typoh4*$typoratio;
$typoh2: $typoh3*$typoratio;
$typoh1: $typoh2*$typoratio;

//Variables couleur boutons
$black: #000000;
$green: #2ecc71;
$red: #CF000F;
$blue: #4183D7;
$white: #FFFFFF;

//Variables taille bouton
$buttonsmall: 10%;
$buttonnormal:25%;
$buttonlg: 40%;
$buttonextralg: 100%;

button, %btn{
	display: block;
	font-size: 1em;
	text-align: center;
	padding: 1em;
	cursor: pointer;
	box-sizing: border-box;
	margin: 0.5em 0;
	width: $buttonnormal;

	&:hover{
		-webkit-transition: background 150ms ease 0s;
		-moz-transition: background 150ms ease 0s;
		-ms-transition: background 150ms ease 0s;
		-o-transition: background 150ms ease 0s;
		transition: background 150ms ease 0s;
	}
}

a%btn{
	text-decoration: none;
}

.btn_lg{
	@extend %btn;
	width: $buttonlg;
}

.btn_small{
	@extend %btn;
	width: $buttonsmall;
}

.btn_extralg{
	@extend %btn;
	width: $buttonextralg;
}

.btn_green{
	background-color: $white;
	color: $green;
	border: 2px solid $green;

	&:hover{
		background-color: $green;
		color: $white;
		border: 2px solid $white;
	}

	&:active{
		background-color: lighten($green, 2);
	}
}

.btn_red{
	background-color: $white;
	color: $red;
	border: 2px solid $red;

	&:hover{
		background-color: $red;
		color: $white;
		border: 2px solid $white;
	}

	&:active{
		background-color: lighten($red, 2);
	}
}

.jumbotron_button{
	background-color: $blue;
	border: 2px solid $white;
	color: $white;

	&:hover{
		background-color: $white;
		color: $blue;
		border: 2px solid $blue;
	}

	&:active{
		background-color: darken($white, 5);
	}

	&:after{
		content: " ►";
	}
}