//Graisse typo
$light: 300;
$normal: 400;
$bold: 700;

//Famille typo
$familybody: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$familytitle: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
$familycode: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

//Couleur boutons
$black: #000000;
$white: #FFFFFF;
$green: #2ecc71;
$red: #CF000F;
$jumbotronbutton: #4183D7;
$item: #000000;
$itemhover: #67809F;
$borderinput: #000000;
$backcolorinput: #FFFFFF;
$colorsubmit: #000000; 
$backcolorsubmit: #FFFFFF;

//Propriétés display
%inline-block{
	display: inline-block;
}


.titlegroup{
	@extend %inline-block;
	vertical-align: middle;

	.title{
		display: block;
		margin: 0;
	}

	.subtitle{
		font-weight: $normal;
		font-family: $familybody;
		font-size: 1.999em;
		margin: 0;
	}
}

.navbar{
	@extend %inline-block;
	vertical-align: middle;

	.navbar_item{
		@extend %inline-block;
		vertical-align: top;
		padding: 0.5em;
		color: $item;

		.navbar_subitem{
			display: none;
		}

		&:hover{
			.navbar_subitem{
				display: block;
			}
		}
	}

	.navbar_item_disabled{
		color: lighten($itemhover, 20);
	}
}

.breadcrump{
	li{
		display: inline-block;
		vertical-align: top;

		&:after{
			content: " /";
		}
	}
}

.jumbotron{
	display: block;
	box-sizing:border-box;
	width: 100%;
	background-color: lighten($black, 90);
	padding: 1.5em;

	.jumbotron_title{
		font-size: 2.827em;
		font-weight: $normal;
		text-align: center;
	}

	.jumbotron_text{
		font-size: 1.999em;
		font-weight: $light;
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}

	.jumbotron_button{
		margin: 1em auto;
		background-color: $jumbotronbutton;
		border: 2px solid white;
		color: white;

		&:hover{
			background-color: white;
			border: 2px solid $jumbotronbutton;
			color: $jumbotronbutton;
		}

		&:after{
			content: " ►";
		}
	}
}

%input{
	font-family: $familybody;
	border: 1px solid $borderinput;
	background-color: $backcolorinput;
	padding: 0.5em;
	box-sizing: border-box;
	&:focus{
		background-color: darken($backcolorinput, 5);
	}
}

.form_block{
	input, button{
		@extend %input;
		width: 100%;
		display: block;
		margin: 0.5em 0;
	}

	textarea{
		@extend %input;
		max-width: 100%;
		min-width: 100%;
		margin: 0.5em 0;
	}

	.submit{
		@extend %input;
		color: $colorsubmit;
		background-color: $backcolorsubmit;
		cursor: pointer;
		&:hover{
			background-color: $colorsubmit;
			color: $backcolorsubmit;
		}

		&:active{
			background-color: ligthen($backcolorsubmit, 20);
		}
	}

	select{
		@extend %input;
		width: 100%;
		margin: 0.5em 0;
	}
}

.form_inline{
	input{
		@extend %input;
		display: inline-block;
		vertical-align: top;
		margin: 0em 0.5em 0.5em;

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	textarea{
		@extend %input;
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
		margin: 0em 0.5em;
	}

	.submit{
		@extend %input;
		display: inline-block;
		vertical-align: top;
		color: $colorsubmit;
		background-color: $backcolorsubmit;

		&:hover{
			background-color: $colorsubmit;
			color: $backcolorsubmit;
		}

		&:active{
			background-color: ligthen($backcolorsubmit, 20);
		}
	}

	select{
		@extend %input;
		display: inline-block;
		vertical-align: top;
		margin: 0em 0.5em;
	}
}








