//Variable largeur gouttière
$widthgutter: 2%;

//Défini la taille d'une boîte selon le nombre de colonne de la grille, le nombre de collones de la boîte, et la taille du conteneur
@mixin boxwidth($nbcolumngrid, $nbcolumnbox, $widthcontainer){
	width: ((($widthcontainer - ($nbcolumngrid*$widthgutter))/$nbcolumngrid)*$nbcolumnbox)+($nbcolumnbox - 1)*$widthgutter;
}

//Défini la taille d'un offset selon le nombre de colonne de la grille, le nombre de collones de la boîte, et la taille du conteneur
@mixin offsetwidth($nbcolumngrid, $nbcolumnoffset, $widthcontainer){
	margin-left: ((($widthcontainer - ($nbcolumngrid*$widthgutter))/$nbcolumngrid)*$nbcolumnoffset)+($nbcolumnoffset*$widthgutter);
}