body{
	margin: 0;
}

.row{
	display:block;
}

%inlineblock{
	display: inline-block;
	vertical-align: top;
}

@import "_span";
@import "_offset";

@mixin grid($nbcolumngrid, $widthcontainer){
	@include span($nbcolumngrid,$widthcontainer);
	@include offset($nbcolumngrid, $widthcontainer);
}
