@import "_column";

//Génère les sélecteurs pour chaque offset
@mixin offset($nbcolumngrid, $widthcontainer){
	@for $i from 1 through ($nbcolumngrid - 1){
		.offset#{$i}{
			@include offsetwidth($nbcolumngrid, $i, $widthcontainer);
		}
	}
}