@import "_column";

%extendspan{
	margin: 0 $widthgutter/2;
	box-sizing: border-box;
	font-size: 1rem;
	@extend %inlineblock;
}

.row [class*="span"]:first-child{
	margin-left: 0;
}

.row [class*="span"]:last-child{
	margin-right: 0;
}

//Génère les sélecteurs pour chaque span
@mixin span($nbcolumngrid, $widthcontainer){
	@for $i from 1 through $nbcolumngrid{
		.span#{$i}{
			@include boxwidth($nbcolumngrid, $i, $widthcontainer);
			@extend %extendspan;
		}
	}
}